@use "../important-scss" as *;


.rt-await {
  &-card-1{
    @media #{$xl} {
      padding: 0 16px 0 0;
    }
    @media #{$xs} {
      padding-right: inherit;
    }
  }
  &-card-img{
    @media #{$xs} {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  &-card-text {
    @media #{$xs} {
      width: 100%;
      // margin-bottom: 20px;
    }
    & h4 {
      font-size: 22px;
    }
    & p {
      @media #{$xl} {
        font-size: 15px;
      }
    }
  }
  &-card-icon{
    & a{
        width: 60px;
        height: 60px;
        border-radius: 20px;
        display: grid;
        place-items: center;
        border: 1px solid var(--rt-secondary-color);
    }
  }
}
