.rt-blog {
  &-card-img {
    & span {
      & img {
        border-radius: 20px 20px 0 0;
      }
    }
  }
  &-next-btn,
  &-prev-btn {
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    & i {
      color: var(--rt-primary-color);
      font-size: 16px;
    }
  }
  &-next-btn {
    top: 13%;
    right: 84px;
  }
  &-prev-btn {
    top: 13%;
    right: 0;
  }
  &-card-heading-text {
    font-size: 22px;
  }
}
