@use "../important-scss" as *;


.rt-city {
  &-card-list {
    & li {
      list-style: none;
      & p {
        margin: 0 0 9px 0;
      }
    }
  }
  &-card {
    padding: 40px 30px;
    @media #{$xl} {
      padding: 16px;
    }
    & h4 {
      font-size: 22px;
    }
  }
}
