@use "../important-scss" as *;

.rt-countries {
  &-area{
    @media #{$xl,$lg} {
      margin-left: 30px;
      margin-right: 30px;
      padding: 30px;
    }
    @media #{$lg} {
      margin-left: 30px;
      margin-right: 30px;
      padding: 0px;
    }
  }
  &-slider {
    & a {
      & img {
        width: 100%;
        height: 422px;
      }
    }
    &-icon {
      top: 30px;
      right: 30px;
    }
    &-content{
      @media #{$lg} {
        margin-right: 18px;
        margin-left: 18px;
      }
    }
  }
  &-next-btn,
  &-prev-btn {
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    & i {
      color: #fff;
      font-size: 16px;
    }
  }
  &-next-btn {
    top: 27%;
    right: 84px;
    @media #{$xl} {
      top: 27%;
      right: 90px;
    }
    @media #{$lg} {
      top: 27%;
      right: 120px;
    }
  }
  &-prev-btn {
    top: 27%;
    right: 0;
    @media #{$xl} {
      top: 27%;
      right: 0px;
    }
    @media #{$lg} {
      top: 27%;
      right: 34px;
    }
  }
}
