@use "../important-scss" as *;

.rt-meets {
  &-text-content{
    @media #{$lg,$md} {
      margin-bottom: 50px;
    }
  }
  &-img-1 {
    position: relative;
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: 1px solid var(--rt-secondary-color);
      position: absolute;
      top: 10px;
      left: 10px;
      border-radius: 20px;
      @media #{$md} {
        display: none;
      }
    }
    & img {
      @media #{$md} {
        width: 98%;
      }
    }

  }
  &-img-2 {
    width: 100%;
    @media #{$xl} {
      padding-top: 20px;
    }
    & img {
      @media #{$xl} {
        width: 186px;
      }
    }
  }
  &-text-box {
    padding-left: 43px;
    padding-top: 34px;
    padding-bottom: 20px;
  }
  &-text-top {
    & h5 {
      margin: 0;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      padding-left: 10px;
    }
  }
  &-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--rt-secondary-color);
    display: block;
    display: grid;
    place-items: center;
    & span {
      & img {
        width: 100%;
        object-fit: contain;
      }
    }
    &-text {
      & p {
        color: var(--rt-primary-color);
        display: block;
        margin: 0;
      }
      & a {
        font-weight: 600;
        font-size: 18px;
        color: var(--rt-primary-color);
        display: block;
      }
    }
  }
  &-text-card-content {
    & h4 {
      font-weight: 700;
      font-size: 22px;
    }
  }
  &-card-text-info {
    & p {
      margin: 0;
      padding-bottom: 12px;
    }
  }
  &-section-title {
    & h1 {
      @media #{$xl} {
        font-size: 40px;
      }
    }
  }
  &-text-card-1 {
    @media #{$xl} {
      padding: 22px;
    }
  }
}
