:root {
    --rt-primary-color:#034833;
    --rt-secondary-color: #83CD20 ;
    --rt-heading-color: #034833;
    --rt-paragraph-color: #727272;
    --rt-body-color: #F1F5EB;
    --rt-common-black: #000;
    --rt-common-white: #fff;
   
}