@use "../utils" as *;

.rt-btn {
  background-color: var(--rt-secondary-color);
  color: var(--rt-common-white);
  border-radius: 50px;
  padding: 13px 30px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  & i {
    padding: 10px;
  }
  &-transparent{
    background-color: transparent;
  color: var(--rt-common-white);
  border-radius: 50px;
  padding: 15px 28px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  border: 1px solid #fff;
  & span{
    & i{
      margin-left: 10px;
    }
  }
  }
}
.btn-primary-border{
  border: 1px solid var(--rt-primary-color);
}
.btn-secondary-border{
  border: 1px solid var(--rt-secondary-color);
}