@use "../important-scss" as *;

.rt-copyright {
  &-area {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #fff;
  }
  &-right-part {
    & a {
      margin: 0 20px;
      //  @media #{$md} {
      //   font-size: 14px;
      // }
    }
  }
}
